* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

body {
    width: 100vw;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #B0DAFD 0%, #ffffff 100%);
}

.quizButton {
    position: fixed; 
    top: 20px;
    right: 20px;
    z-index: 1000;
    text-decoration: none;
    background-color: #2563eb;
    color: white;
    font-size: 0.9rem;
    font-weight: 600;
    border: none;
    border-radius: 0.4rem;
    padding: 0.6rem 1.2rem;
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.quizButton:hover {
    background-color: blue;
    transform: translateY(-2px);
}


.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    justify-items: center;
}

.card {
    width: 33rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.3rem;
    padding: 1rem;
    background: linear-gradient(135deg, #2563eb 100%);
    box-shadow: 8px 10px 25px rgba(0, 0, 0, 0.3);
}

/* bungkus teks agar bisa diberi efek potongan */
.card p {
  position: relative;
  overflow: hidden;
  max-height: 3.5rem; /* tinggi awal (terpotong) */
  transition: max-height 0.5s ease;
}

/* gradient biru lembut di bawah teks */
.card p::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.2rem;
  background: linear-gradient(to bottom, rgba(37, 99, 235, 0) 0%, rgba(37, 99, 235, 0.5) 100%);
  pointer-events: none;
}

/* saat card terbuka */
.card.expanded p {
  max-height: 100vh; /* biar bisa terbuka penuh */
}

/* hilangkan efek gradient ketika terbuka */
.card.expanded p::after {
  display: none;
}

h3 {
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
}

p {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.2rem;
    margin: 0.5rem 0;
    color: white;
}

button {
    align-self: flex-end;
    font-size: 0.75rem;
    font-weight: 600;
    color: blue;
    background-color: white;
    border: 1px solid white;
    border-radius: 0.2rem;
    padding: 0.3rem 1.3rem;
    margin-top: 0.5rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

button:hover {
    color: white;
    background-color: blue;
    border: blue;
}
